




<div class="container-fluid">

  <div class="row content">
    <br>
    <div class="col-lg-8 col-lg-offset-2">
      <div class="panel panel-default" >
        <div class="panel-body">

            <legend class=" the legend">Fx Converter</legend>

            <div class="col-md-5">
              <div class="form-group">
                <label for="">From</label>
                <select id="fromCurrency" [(ngModel)]="fromCurrency" (change)="updateFromSymbol()" class="form-control" required>
                  <option [ngValue]="rate" *ngFor="let rate of rates | keys" > {{rate}} </option>
                </select>
              </div>


              <div class="form-group">
                <label for="">From</label><br>

                <span class="" style="display: inline-block; width:10%; line-height:80px;float: right;">{{fromSymbol}}</span>
                <input type="number" class="form-control"  style="width:80%" placeholder="Send"
                       [(ngModel)]="from" (input)="updateTo()">
              </div>
            </div>
            <div class="col-md-2">
              <img  (click)="updateTo();updateFrom()" src="assets/download.png" id="flipper">

            </div>
            <div class="col-md-5">

              <div class="form-group">
                <label for="">To</label>
                <select id="toCurrency" [(ngModel)]="toCurrency" class="form-control" (change)="updateToSymbol()" required>
                  <option [ngValue]="rate" *ngFor="let rate of rates | keys" > {{rate}} </option>
                </select>

              </div>

              <div class="form-group">
                <label for="">To</label><br>
                <span class="" style="display: inline-block; width:10%; line-height:80px;float: right;">{{toSymbol}}</span>
                <input type="number" class="form-control" style="width:80%" placeholder="Receive Amount "
                       [(ngModel)]="to" (input)="updateFrom()">
              </div>

            </div>

        </div>
      </div>
    </div>
  </div>
</div>





